@font-face {
    font-family: Averta;
    src: url(https://res.cloudinary.com/dafsch2zs/raw/upload/v1596618987/Zuri%20Landing/AvertaDemoPECuttedDemo-Regular_dghpn7.otf);
}

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Averta, sans-serif;
}

a {
    color: hsl(3, 80%, 54%);
    text-decoration: none;
}

a:hover {
    color: hsl(3, 79%, 62%);
    text-decoration: none;
}

.top-container {
    background-image: url("hero-bg.svg");
    background-repeat: no-repeat;
    height: 800px;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: top;
    align-items: center;
    margin: auto;
    padding: 80px 50px;
    flex-direction: column;
}

.center-image {
    padding-bottom: 50px;
}

.top {
    justify-content: center;
    max-width: 748px;
    text-align: center;
}

.top h2 {
    font-size: 30px;
    font-weight: 900;
    line-height: 50px;
    color: hsl(0, 5%, 30%);
    padding: 35px;
}

.top p {
    font-size: 17px;
    color: hsla(0, 5%, 30%, 0.9);
    line-height: 26px;
    padding: 0 10px;
}

.butt {
    margin-top: 13%;
}

.my-butt {
    padding: 15px 30px;
    outline: none;
    border: 1px solid hsl(3, 80%, 54%);
}

.red-butt {
    background-color: hsl(3, 80%, 54%);
    color: hsl(0, 0%, 100%);
}

.red-butt:hover {
   background-color: hsl(0, 0%, 100%);
   color: hsl(3, 80%, 54%); 
}

.white-butt {
    margin-left: 30px;
    background-color: hsl(0, 0%, 100%);
    color: hsl(3, 80%, 54%);
}

.white-butt:hover {
    background-color: hsl(3, 80%, 54%);
    color: hsl(0, 0%, 100%); 
}

.zuri-programs {
    background-color: hsl(0, 0%, 100%);
    height: 815px;
    margin-bottom: 10%;
}

.middle-container {
    max-width: 1440px;
    height: 675px;
    text-align: center;
    margin: auto;
}

.heading {
    color: hsl(3, 80%, 54%);
    margin-top: 10%;
    font-size: 15px;
    font-weight: 400;
}

.aim {
    margin-top: 15px;
    font-size: 25px;
    color: hsla(0, 5%, 30%);
    line-height: 40px; 
    margin-bottom: 5%;
}

.flex-container {
    max-width: 1240px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    /* height: 500px; */
}

.program-card {
    width: 100%;
    /* text-align: left; */
    padding: 64px 50px 85px 39px;
    background-color: hsl(0, 100%, 99%);
    text-align: justify;
}

.program-card p {
    font-size: 16px;
    line-height: 24px;
    color: hsla(0, 5%, 30%, 0.9);
    padding-bottom: 25px;
}

.program-card img {
    padding-bottom: 50px;
}

.program-card h3 a {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: hsla(3, 80%, 54% 0.9);
}

.zuri {
    margin: 15px;
}

.posit {
    position: relative;
    z-index: 1;
}

.left-image {
    width: 100%;
    position: absolute;
    left: -120px;
    top: -75px;
    z-index: -1;
}

.right-image {
    position: absolute;
    width: 90%;
    right: -120px;
    top: -75px;
    z-index: -1;
}

.footer {
    max-width: 1240px;
    /* margin-top: 10%; */
    margin: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    /* margin-left: 5%; */
    padding: 20px;
}

.footer h3 {
    color: hsl(0, 5%, 30%);
    font-size: 17px;
    font-weight: 900;
    line-height: 25px;
}

.address p {
    font-size: 14px;
    line-height: 20px;
    color: hsla(0, 5%, 30%, 0.9);
    padding-top: 10px;
    /* padding-bottom: 10px; */
}

.contact-icons img {
    width: 18px;
    padding-top: 12px;
}

.link a p {
    padding-top: 10px;
}

.dline {
    width: 100%;
    margin: auto;
}

.line {
    opacity: 0.2;
    border: 0.7px solid hsl(0, 5%, 30%);
    width: 100%;   
}

.copyright p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 800;
    margin-top: 32px;
    color: hsl(0, 5%, 30%);
    padding-bottom: 97px;
    text-align: center;
}

.foot{
    margin-bottom: 6%;
}